body {
    margin: 0;
    background-color: lightblue;
    overflow: hidden;
    height: inherit;
  }
  
  html {
    font-family:'Times New Roman', Times, serif;
    height: 100%;
  }


  canvas{
    background-color: lightblue;
  }
  
  h1 {
    font-size: 2rem;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    text-shadow: 0 0 4px white;
  }

  button {
    font-size: 25px;
    padding: 10px 10px;
    cursor: pointer;
  }